<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <!-- Normalize or reset CSS with your favorite library -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"> -->

    <!-- Load paper.css for happy printing -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css"> -->
    <link rel="stylesheet" href="../styles/happypaper.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/papercss/dist/paper.css"> -->
    <!-- <link rel="stylesheet" href="styles/paper.css"> -->
    <style>
      /* @page { size: letter landscape } */
      body { margin: 0;}
      .container { padding: 20px; }
      h1 { text-align: center; }
      p { font-size: 11px; }
    </style>
  </head>
  <!-- <body class="letter landscape"> -->
  <body class="letter landscape">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Occupation</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.occupation }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if chart %}
    <!-- {{ chart|b64decode }} -->
    <div class="chart">
      <img src="data:image/png;base64, {{ chart }}" alt="Sample Chart">
    </div>
    {% endif %}
  </body>
</html>
